.park-grid {
  gap: 10px;
  width: 90%;
  max-width: 900px;
  margin: 100px auto;
  border: 5px solid #000;
  background-color: #3a4a3a;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);

  transform-style: preserve-3d;
  transform: rotateX(55deg) rotateZ(45deg);
  transition: transform 0.5s ease;
}

.park-grid:hover {
  transform: rotateX(50deg) rotateZ(45deg);
}

.grid-cell {
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 2px black;
  min-height: 150px;

  transform-style: preserve-3d;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.grid-cell[data-clickable="true"] {
  cursor: pointer;
}

.grid-cell .cell-name {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
  position: absolute;
  bottom: 10px;

  transform: rotateZ(-45deg) rotateX(-55deg);
}


.grid-cell.terrestre {
  background: #556B2F url('https://i.imgur.com/vLYAI1G.jpeg');
  background-size: cover;
  background-position: center;
}
.grid-cell.terrestre[data-clickable="true"]:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #f7b500;
  border-color: #f7b500;
}

.grid-cell.acuatico {
  background: #0077be url('https://i.imgur.com/N5n2UaU.jpeg');
  background-size: cover;
  background-position: center;
}
.grid-cell.acuatico[data-clickable="true"]:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #f7b500;
  border-color: #f7b500;
}

.grid-cell.aviario {
  background: #87CEEB url('https://i.imgur.com/39kPsox.jpeg');
  background-size: cover;
  background-position: center;
}
.grid-cell.aviario[data-clickable="true"]:hover {
  transform: scale(1.03);
  box-shadow: 0 0 20px #f7b500;
  border-color: #f7b500;
}

.grid-cell.edificio {
  background-color: #b0c4de;
  color: #333;
  text-shadow: none;
}
.grid-cell.paisaje {
  background-color: #8B4513;
}