@import "~leaflet/dist/leaflet.css";
.mapa-container {
  height: 80vh;
  width: 90%;
  border-radius: 10px;
  border: 3px solid #f7b500;
  box-shadow: 0 5px 25px rgba(247, 181, 0, 0.2);
  background: #111;
}