@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

.password-wrapper {
    position: relative;
    width: 100%;
}

.password-wrapper input {
    width: 100%;
    padding-right: 40px !important;
    box-sizing: border-box;
}

.password-toggle {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 5px;
    line-height: 1;
}

.checkbox-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    text-align: left;
}

.checkbox-container input[type="checkbox"] {
    margin: 0 10px 0 0;
    width: auto;
}

.checkbox-container label {
    font-size: 0.9rem;
    color: #ccc;
    cursor: pointer;
}

.checkbox-container label strong {
    color: #ff4136;
}