services:

  app:
    build: .
    container_name: parque_jurasico-app
    command: sh startup.sh
    volumes:
      - ./src:/app/src
      - ./tests:/app/test
    ports:
      - "8000:8000"
    env_file:
      - ./.env
    depends_on:
      postgres-db:
        condition: service_healthy

  frontend:
    build:
      context: ./frontend
    container_name: parque_jurasico-frontend
    command: npm run start
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - app

  postgres-db:
    image: postgres:15-alpine
    container_name: parque_jurasico-bd
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - parque_jurasico-bd:/var/lib/postgresql/data
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  parque_jurasico-bd:
