fastapi==0.115.2
uvicorn[standard]==0.32.0
pydantic-settings==2.11.0
pydantic==2.12.3
sqlalchemy==2.0.44
asyncpg==0.30.0
httpx==0.28.1
python-jose[cryptography]==3.3.0
prometheus-fastapi-instrumentator==7.1.0
fastapi-mail==1.4.1
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-multipart==0.0.12
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-dotenv==0.5.2
anyio==4.11.0
aiosqlite
httpx